/* Reset */
body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body{
    /* background-color:rgb(55, 177, 177); */
    background-image: linear-gradient(to right, rgba(67, 148, 87, 0.863), rgba(15, 179, 56, 0.753));
}

#main{
    display: grid;
    grid-template-areas: 'btns painel';
    grid-template-columns: 20% 70%;
}

.butonsMenu{
    width: 15vw;
    text-align: center;
    margin-top: 12vw;
    grid-area: btns;
}
.butonsMenu > button{
    width: 12vw;
    margin: 2vh 0px;
}

#mainSection{
    display: grid;
    grid-template-areas: 'header header'
                         'tab  textjson'
                         'button button';
    grid-template-rows: 20% 70% auto;
    grid-template-columns: 50% 50%;
    margin: 3vw 0px;
    grid-area: painel;
    width: 75vw;
    height: 40vw;
    border:2px rgb(0, 0, 0) solid ;
    border-radius: 15px;
}

.headermainSection{
    grid-area: header;
    width: 40%;
    margin: 2% 30%;
}

#tableSection{
    overflow: auto;
    height: 80%;
    width:90%;
    grid-area: tab;
}

#tabela{
 width: 100%;
}

#tabela > thead >tr> th{
    font-size: 1.2rem;
}

#bodyTabela > tr > td{
    font-size: 1rem;
    color: cornsilk;
}

.botoesTabela{
    margin: 0 40%;
    height: 10vw;
}


#textjson{
    grid-area: textjson;
    margin-left: 5%;
    width:90%;
}



/* Estilos tabela */
    /* #secaoTabela{
        padding-top: 2vw;
    }

    #tabela{
        width:28vw;
        font-size: 20px;
        float: left;
    }

    #tabela tr td{
        max-width: 150px;
    }

    #tituloTabela{
        background-color: rgb(136, 135, 135);
    }

/* Estilos Linhas */
  /*   .LinhaPessoa{
        background-color: rgb(212, 212, 212);
    }

    .LinhaPessoa > td:first-child{
    margin: auto 30px;
    }

    .LinhaFilho{
        background-color: rgb(179, 176, 175);
    }

    .LinhaFilho td:first-child{
        padding-left: 18px;
    }

/* Estilos botões e Textarea */
  /*   #textjson{
        float: left;
        margin-left: 4%;
        width: 35%;
        height: 60vh;
    }

    .btnAdicionarFilho{
    height: 2vw;
    min-height: 38px;
    width: 120px;
    margin-left: 50%;
    margin-bottom: 5vh;
    background-color: rgb(221, 221, 221);
    }

    .btnAdicionarFilho:hover{
        text-decoration: underline;
        background-color: rgb(168, 168, 168);
    }

    .btnRemoverPessoa{
        width: 100%;
    }

    .btnRemoverFilho{
        width: 50%;
        margin: auto 25%;
    }

    #btnGravar{
        padding: 5px 10px;
        font-size: 14px;
        margin-bottom: 16px;
    }

    #btnGravar:hover{
        text-decoration: underline 1px;
        background-color: rgb(172, 172, 172);
    }

    #btnLer{
        padding: 5px 10px;
        font-size: 14px;
        margin-left: 20px;
    }

    #btnLer:hover{
        text-decoration: underline 1px;
        background-color: rgb(172, 172, 172);
    } */ 
 
    #telaCarregamento{
        position: absolute;
        display: none;
        z-index: 3;
        margin: 0px;
        top: 0px;
        opacity: 0.5;
        height: 100vh;
        width: 100vw;
        background-color: rgb(29, 25, 32);
        justify-content: center;
        align-items: center
    }

    #loader{
        width:10vw;
        height: 10vw;
        border: 3px rgb(238, 67, 67) solid;
        border-top:3px rgb(41, 243, 226) solid;
        border-radius: 50%;
        animation: toRotating 1s infinite;
    }

    @keyframes toRotating {
        to{
            transform: rotate(1turn);
        }
    }